Spec: Section 7: consider using TLS presentation language

It seems that the goal here is to use a lightweight serialization mechanism that maps neatly to C structs. There's a high-quality specification of just that in [RFC 8446 section 3](https://datatracker.ietf.org/doc/html/rfc8446#section-3), which has been successfully used in standards like Message Layer Security or draft-ietf-ppm-dap. MLS also adds nice semantics for variable length arrays.

Adopting TLS PR would solve a few problems:

- The `size` type (used in `Circuit`) is only implicitly defined by the `write_size` function. It should be made clear that besides having a valid range of `[0, 2^24 -1]`, it is represented on the wire as three bytes. RFC 8446 presentation language would obviate this type and the `write_array` and `write_fixed_array` functions, since it contains richer semantics for this kind of thing (you can have shorter length/size prefixes when the protocol knows a given array has tighter length bounds than 2^24).
- 7.2: The length of a FieldID is ambiguous. The text says "Common finite fields have been assigned special 1-byte codes" and the table has 1 byte constants, but empirically Longfellow encodes them as 3 bytes. This could just be defined as an RFC 8446 u24.
- 7.2: The variable length encoding for arbitrary prime-order finite fields is unclear. After 0xF_, is there a length byte to indicate how long the encoding is? Or is the overall encoding always 3 bytes?
- 7.3: testing against longfellow-zk shows that `PaddedTranscript.layers` and `PaddedTranscriptLayer.wires` are serialized as fixed arrays (i.e. no length prefix) but this isn't clear from the notation. Expressing them as `PaddedTranscriptLayers layers[NL]` and `Elt wires[2 * log_w]` or otherwise making it explicit that these are fixed arrays would help. RFC 8446 presentation language provides an unambiguous syntax for this.
- 7.6: The definition `typedef Delta uint` is inadequate, because the width of unsigned integers varies across architectures. In any case, the empirically observed size of Delta is 3 bytes. In RFC 8446 you'd define `Delta` as `u24`.


